/**
* --------------------------------------------------------------------------
* GENERAL
* --------------------------------------------------------------------------
*/

body {font:normal 12px 'Roboto';}
.row {margin-bottom: 0;}
.container {padding: 0 0.75rem;}

.shadow {position: fixed;top: 0;bottom: 0;right: 0;left: 0;background: rgba(0,0,0,0.8);display: none;z-index: 8;}
.shadow.open {display: block;}

.ease, .header-nav ul li a, .camera_caption h2, .header-logo a img {-webkit-transition: all 500ms ease-in-out; -moz-transition: all 500ms ease-in-out; -ms-transition: all 500ms ease-in-out; -o-transition: all 500ms ease-in-out; transition: all 500ms ease-in-out;}

input {outline: none;}
input::-webkit-search-decoration, input::-webkit-search-cancel-button {display: none;}

/**
 * --------------------------------------------------------------------------
 * SCROLLBAR
 * --------------------------------------------------------------------------
 */

body::-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: #F5F5F5; }
body::-scrollbar {width: 5px; background-color: #F5F5F5; }
body::-scrollbar-thumb {border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #242424; }
body::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: #F5F5F5; }
body::-webkit-scrollbar {width: 5px; background-color: #F5F5F5; }
body::-webkit-scrollbar-thumb {border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #242424; }
body::-moz-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: #F5F5F5; }
body::-moz-scrollbar {width: 5px; background-color: #F5F5F5; }
body::-moz-scrollbar-thumb {border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #242424; }
body::-ms-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: #F5F5F5; }
body::-ms-scrollbar {width: 5px; background-color: #F5F5F5; }
body::-ms-scrollbar-thumb {border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #242424; }
body::-o-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: #F5F5F5; }
body::-o-scrollbar {width: 5px; background-color: #F5F5F5; }
body::-o-scrollbar-thumb {border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #242424; }

/**
* --------------------------------------------------------------------------
* HEADER
* --------------------------------------------------------------------------
*/

.header {position: fixed;left: 0;right: 0;top: 0;z-index:9;font-family:'roboto condensed';}
.header-top {background:#222;padding:7px 0;}
.header-bottom {margin-top:15px;}

@media (max-width: 1110px) {
	.header {text-align: center;}
	.header-bottom {margin-top:0;padding:10px 0;background:rgba(34,34,34,0.4);}
	.header-top {padding: 0;background:none 0;}
}
/**
* --------------------------------------------------------------------------
* HEADER SNS
* --------------------------------------------------------------------------
*/

.header-sns {float:left;}
.header-sns p {display: inline-block;color:#eaeaea;text-transform:uppercase;font-size:14px;margin-right:5px;letter-spacing:2px;}
.header-sns ul {display: inline-block;}
.header-sns ul li {display: inline-block;}
.header-sns ul li a, .header-sns .fa-share {display: inline-block;font-size:18px;color:#eaeaea;padding: 5px 10px;}
.header-sns .fa-share {display: none;cursor:pointer;}

@media (max-width:1110px) {
	.header-sns {float: none;position: fixed;right: 0;top: 50px;}
	.header-sns .fa-share {display: block;}
	.header-sns p {display: none;}
	.header-sns ul {visibility: hidden;}
	.header-sns ul li {display: block;}
	.header-sns .fa-share:hover ~ ul {visibility: visible;}
}


/**
* --------------------------------------------------------------------------
* SEARCH BAR
* --------------------------------------------------------------------------
*/

.search {float:right;}

input[type=search] {-webkit-appearance: textfield; -webkit-box-sizing: content-box; font-family: inherit; font-size: 100%;}

input[type=search] {font-family:'roboto';position: relative;height: auto;width:150px;margin: 0; border: solid 1px #eaeaea; padding: 9px 32px 9px 10px; -webkit-border-radius: 10em; -moz-border-radius: 10em; border-radius: 10em; -webkit-transition: all .5s; -moz-transition: all .5s; transition: all .5s; COLOR:#FFF;}
input[type=search] ~ .fa-search {color:#eaeaea;position: absolute;top: 45%;font-size:17px;right: 10px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);}
input[type=search]:focus:not([readonly]) {border-bottom-color:#eaeaea;box-shadow: 0;-webkit-box-shadow:0;}

input[type=search]:-moz-placeholder {color: #fff;}
input[type=search]::-webkit-input-placeholder {color: #fff;}

input[type=search]:focus:-moz-placeholder {color: #222;}
input[type=search]:focus::-webkit-input-placeholder {color: #fff;}

input[type=search]::-webkit-input-placeholder {color: transparent;}
input[type=search]:-moz-placeholder {color: transparent;}
input[type=search]::-moz-placeholder {color: transparent;}
input[type=search]:-ms-input-placeholder {color: transparent;}

input[type=search]:focus::-webkit-input-placeholder {color: transparent;}
input[type=search]:focus:-moz-placeholder {color: transparent;}
input[type=search]:focus::-moz-placeholder {color: transparent;}
input[type=search]:focus:-ms-input-placeholder {color: transparent;}

@media (min-width:1111px) {
	input[type=search]:focus {width: 200px;}
	.form-search {position: relative;}
}

@media (max-width: 1110px) {
	.search {float: none;position: fixed;right: 20px;top: 7px;}
    input[type=search] {width:0%;float: right;padding-right: 24px;}
    input[type=search]:focus {width: 100%;}
    input[type=search] ~ .fa-search {z-index:-1;}
}

/**
* --------------------------------------------------------------------------
* HEADER LOGO
* --------------------------------------------------------------------------
*/

.header-logo {float:left;}
.header-logo a {display: inline-block;max-width: 150px;}
.header-logo a img {width: 100%;}

@media (max-width: 1110px) {
	.header-logo {float:none;}
	.header-logo {display: inline-block;}
}


/**
* --------------------------------------------------------------------------
* MAIN NAVIGATION
* --------------------------------------------------------------------------
*/

.burger {position: fixed;left: 20px;top: 10px;display: inline-block;cursor:pointer;}
.burger span {display: block;width: 40px;height: 4px;background:#ccc;margin-bottom: 7px;}


.header-nav {float:right;}
.header-nav ul li {display: inline-block;}
.header-nav ul li a {display: inline-block;color:#fff;text-transform:uppercase;font-size:17px;font-weight:bold;letter-spacing:1px;padding:5px 10px;}

@media (min-width:1109px) {
	.burger {display: none;}
}

@media (max-width:1110px){
	.header-nav {float: none;position: fixed;top: 0;bottom: 0;left: -200px;width: 200px;background:#000;}
	.header-nav ul li {display: block;}
}

/**
* --------------------------------------------------------------------------
* SLIDER
* --------------------------------------------------------------------------
*/

.camera_caption > div {background: transparent;}

.camera_wrap {margin-bottom: 0 !important;}

.home-slider-wrapper {position: relative;}
.home-slider .slick-slide img{width: 100%; height: 100%;}

.home-slider-txt {font-family:'roboto condensed';text-transform: uppercase;bottom: auto;top: 65%;-webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);}
.home-slider-txt h2 {font-size:30px;}
.home-slider-txt h2 span{font-weight:bold;display: block;font-size:40px;}

.home-thumbs-slider {position: absolute;bottom: 35%;left: 10%;right: 60%;margin-bottom: 0;}
.home-thumbs-slider .slick-slide {margin-right: 5px;padding:2px;background:#000;cursor:pointer;height: 50px;display: inline-block; float: none; vertical-align: middle;-webkit-transition: all 300ms ease-in-out; -moz-transition: all 300ms ease-in-out; -ms-transition: all 300ms ease-in-out; -o-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out;}
.home-thumbs-slider .slick-slide.slick-current {background:#01916d;}
.home-thumbs-slider .slick-slide img {height: 100%;}

.home-thumbs-slider .slick-dots {bottom: -45px;}
.home-thumbs-slider .slick-dots li {border-radius:0;-webkit-border-radius:0;text-align: center;-webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
.home-thumbs-slider .slick-dots li button:before {content:'';right: 0;margin:auto;background:#fff;width: 8px;height: 8px;border-radius:0;-webkit-border-radius:0;top: 50%;-webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);}
.home-thumbs-slider .slick-dots li.slick-active button:before {background:#01916d;}

.home-slider-txt {position: absolute;left: 10%;top:55%;text-align: left;text-shadow: 2px 2px 0 #5C5C5C;color:#f7f7f7;}
.home-slider-txt h2 {text-transform:uppercase;margin-bottom: 0;font-size:40px;}
.home-slider-txt h2 span {font-size:50px;font-weight:bold;}

.home-slide-btn {position: absolute;text-align: center;bottom: 10%;left: 10%;}

.home-thumbs-slider.slick-dotted.slick-slider {margin-bottom: 10px;}
.home-thumbs-slider .slick-prev, .home-thumbs-slider .slick-next {bottom:-55px;top:auto;z-index:2;}
.home-thumbs-slider .slick-prev {left:0;}
.home-thumbs-slider .slick-next {right:0;}


@media (max-width:895px) {
	.home-thumbs-slider {right: 50%;}
}

@media (max-width:690px) {
	.home-slider-txt h2 {font-size:30px;}
	.home-slider-txt h2 span {font-size:40px;}
	.home-thumbs-slider {bottom: 38%;}
}

@media (max-width:585px) {
	.home-thumbs-slider {right: 30%;}
}

@media (max-width:480px) {
	.home-thumbs-slider {right: 10%;}
}

.prod-container img{width: 100%;}
.prod-time {text-align: center;}
.prod-time div {width: 45%;display: inline-block;border:3px solid #000;text-align: center;padding:5px;text-transform:uppercase;line-height:1;margin-bottom: 4px;}
.prod-time div span {display: block;font-size:20px;font-weight:bold;}

@media (min-width:938px){
	.prod-time {display: table;width: 100%;border-collapse: separate; border-spacing: 2px;}
	.prod-time div {display: table-cell;vertical-align: middle;}
}

@media (max-width:600px) {
	.prod-time {display: table;width: 100%;border-collapse: separate; border-spacing: 2px;}
	.prod-time div {display: table-cell;vertical-align: middle;width:auto;}
}
/**
* --------------------------------------------------------------------------
* FOOTER
* --------------------------------------------------------------------------
*/

