/**
* --------------------------------------------------------------------------
* GENERAL
* --------------------------------------------------------------------------
*/

body {font:normal 12px 'Roboto';}
.row {margin-bottom: 0;}
.container {padding: 0 0.75rem;}

.shadow {position: fixed;top: 0;bottom: 0;right: 0;left: 0;background: rgba(0,0,0,0.8);display: none;z-index: 8;}
.shadow.open {display: block;}

.ease, .header-nav ul li a, .camera_caption h2, .header-logo a img {-webkit-transition: all 500ms ease-in-out; -moz-transition: all 500ms ease-in-out; -ms-transition: all 500ms ease-in-out; -o-transition: all 500ms ease-in-out; transition: all 500ms ease-in-out;}

input {outline: none;}
input::-webkit-search-decoration, input::-webkit-search-cancel-button {display: none;}

/**
 * --------------------------------------------------------------------------
 * SCROLLBAR
 * --------------------------------------------------------------------------
 */

body::-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: #F5F5F5; }
body::-scrollbar {width: 5px; background-color: #F5F5F5; }
body::-scrollbar-thumb {border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #242424; }
body::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: #F5F5F5; }
body::-webkit-scrollbar {width: 5px; background-color: #F5F5F5; }
body::-webkit-scrollbar-thumb {border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #242424; }
body::-moz-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: #F5F5F5; }
body::-moz-scrollbar {width: 5px; background-color: #F5F5F5; }
body::-moz-scrollbar-thumb {border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #242424; }
body::-ms-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: #F5F5F5; }
body::-ms-scrollbar {width: 5px; background-color: #F5F5F5; }
body::-ms-scrollbar-thumb {border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #242424; }
body::-o-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); border-radius: 10px; background-color: #F5F5F5; }
body::-o-scrollbar {width: 5px; background-color: #F5F5F5; }
body::-o-scrollbar-thumb {border-radius: 10px; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); background-color: #242424; }

/**
* --------------------------------------------------------------------------
* HEADER
* --------------------------------------------------------------------------
*/

.header {position: fixed;left: 0;right: 0;top: 0;z-index:9;font-family:'roboto condensed';}
.header-top {background:#222;padding:7px 0;}
.header-bottom {margin-top:15px;}

@media (max-width: 1110px) {
	.header {text-align: center;}
	.header-bottom {margin-top:0;padding:10px 0;background:rgba(34,34,34,0.4);}
	.header-top {padding: 0;background:none 0;}
}
/**
* --------------------------------------------------------------------------
* HEADER SNS
* --------------------------------------------------------------------------
*/

.header-sns {float:left;}
.header-sns p {display: inline-block;color:#eaeaea;text-transform:uppercase;font-size:14px;margin-right:5px;letter-spacing:2px;}
.header-sns ul {display: inline-block;}
.header-sns ul li {display: inline-block;}
.header-sns ul li a, .header-sns .fa-share {display: inline-block;font-size:18px;color:#eaeaea;padding: 5px 10px;}
.header-sns .fa-share {display: none;cursor:pointer;}

@media (max-width:1110px) {
	.header-sns {float: none;position: fixed;right: 0;top: 50px;}
	.header-sns .fa-share {display: block;}
	.header-sns p {display: none;}
	.header-sns ul {visibility: hidden;}
	.header-sns ul li {display: block;}
	.header-sns .fa-share:hover ~ ul {visibility: visible;}
}


/**
* --------------------------------------------------------------------------
* SEARCH BAR
* --------------------------------------------------------------------------
*/

.search {float:right;}

input[type=search] {-webkit-appearance: textfield; -webkit-box-sizing: content-box; font-family: inherit; font-size: 100%;}

input[type=search] {font-family:'roboto';position: relative;height: auto;width:150px;margin: 0; border: solid 1px #eaeaea; padding: 9px 32px 9px 10px; -webkit-border-radius: 10em; -moz-border-radius: 10em; border-radius: 10em; -webkit-transition: all .5s; -moz-transition: all .5s; transition: all .5s; COLOR:#FFF;}
input[type=search] ~ .fa-search {color:#eaeaea;position: absolute;top: 45%;font-size:17px;right: 10px; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);}
input[type=search]:focus:not([readonly]) {border-bottom-color:#eaeaea;box-shadow: 0;-webkit-box-shadow:0;}

input[type=search]:-moz-placeholder {color: #fff;}
input[type=search]::-webkit-input-placeholder {color: #fff;}

input[type=search]:focus:-moz-placeholder {color: #222;}
input[type=search]:focus::-webkit-input-placeholder {color: #fff;}

input[type=search]::-webkit-input-placeholder {color: transparent;}
input[type=search]:-moz-placeholder {color: transparent;}
input[type=search]::-moz-placeholder {color: transparent;}
input[type=search]:-ms-input-placeholder {color: transparent;}

input[type=search]:focus::-webkit-input-placeholder {color: transparent;}
input[type=search]:focus:-moz-placeholder {color: transparent;}
input[type=search]:focus::-moz-placeholder {color: transparent;}
input[type=search]:focus:-ms-input-placeholder {color: transparent;}

@media (min-width:1111px) {
	input[type=search]:focus {width: 200px;}
	.form-search {position: relative;}
}

@media (max-width: 1110px) {
	.search {float: none;position: fixed;right: 0;top: 7px;}
    input[type=search] {width:0%;float: right;padding-right: 24px;}
    input[type=search]:focus {width: 100%;}
    input[type=search] ~ .fa-search {z-index:-1;}
}

/**
* --------------------------------------------------------------------------
* HEADER LOGO
* --------------------------------------------------------------------------
*/

.header-logo {float:left;}
.header-logo a {display: inline-block;max-width: 150px;}
.header-logo a img {width: 100%;}

@media (max-width: 1110px) {
	.header-logo {float:none;}
	.header-logo {display: inline-block;}
}


/**
* --------------------------------------------------------------------------
* MAIN NAVIGATION
* --------------------------------------------------------------------------
*/

.burger {position: fixed;left: 20px;top: 10px;display: inline-block;cursor:pointer;}
.burger span {display: block;width: 40px;height: 4px;background:#f9f9f9;margin-bottom: 7px;}


.header-nav {float:right;}
.header-nav ul li {display: inline-block;}
.header-nav ul li a {display: inline-block;color:#fff;text-transform:uppercase;font-size:17px;font-weight:bold;letter-spacing:1px;padding:5px 10px;}

@media (min-width:1109px) {
	.burger {display: none;}
}

@media (max-width:1110px){
	.header-nav {float: none;position: fixed;top: 0;bottom: 0;left: -200px;width: 200px;background:#000;}
	.header-nav ul li {display: block;}
}

/**
* --------------------------------------------------------------------------
* SLIDER
* --------------------------------------------------------------------------
*/

.camera_caption > div {background: transparent;}

.camera_caption {font-family:'roboto condensed';text-transform: uppercase;bottom: auto;top: 65%;-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
transform: translateY(-50%);}
.camera_caption h2 {font-size:30px;}
.camera_caption h2 span{font-weight:bold;display: block;font-size:40px;}

.camera_thumbs_cont {background:none;position: absolute;bottom:100%;}
.camera_thumbs_cont ul {margin:initial !important;width: 50% !important;}
.camera_thumbs_cont ul li {max-height: 50px;display: inline-block;float: left;}
.camera_thumbs_cont ul li > img {height: 50px !important;}

.camera_thumbs_cont > div {float: none;}

@media (min-width:1110px) {
	
}

/**
* --------------------------------------------------------------------------
* FOOTER
* --------------------------------------------------------------------------
*/

